@{
    ViewData["Title"] = "Character Creator";
    var strategies = (SilverNeedle.Characters.CharacterBuildStrategy[])ViewData["Strategies"];
}
<h1>Generate NPC</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Character" asp-action="Character" method="POST">
            <fieldset class="form-group">
                <legend>Character Options</legend>
                <div class="form-group">
                    <label for="strategy">Type</label>
                    <select name="strategy" id="strategy" class="form-control">
                        @foreach(var s in strategies)
                        {
                            <option>@s.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="level">Level</label>
                    <input type="text" value="1" name="level" id="level" class="form-control" />
                </div>
            </fieldset>
            <input type="submit" value="Create Character" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-6">
        <h4 id="strategyName">Strategy</h4>
        <h5>Classes</h5>
        <table id="classes" class='table table-striped'>
            <thead>
                <tr>
                    <th data-field="option">Class</th>
                    <th data-field="weight">Weighting</th>
                </tr>
            </thead>
        </table>
        <h5>Feats</h5>
        <table id="feats" class='table table-striped'>
            <thead>
                <tr>
                    <th data-field="option">Feat</th>
                    <th data-field="weight">Weighting</th>
                </tr>
            </thead>
        </table>
        <h5>Skills</h5>
        <table id="skills" class='table table-striped'>
            <thead>
                <tr>
                    <th data-field="option">Skill</th>
                    <th data-field="weight">Weighting</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script lang="javascript">
        $('select#strategy').change(function() {
            $.getJSON("@Url.Action("Strategy")", {"strategyName": $(this).val()}, function(data) {
                $("#strategyName").text(data.name);
                $('table#classes').bootstrapTable('load', data.classes.all );
                $('table#skills').bootstrapTable('load', data.favoredSkills.all );
                $('table#feats').bootstrapTable('load', data.favoredFeats.all );
            });
        });
        $(function() { 
            $('table#classes').bootstrapTable({ data: [] });
            $('table#skills').bootstrapTable({ data: [] });
            $('table#feats').bootstrapTable({ data: [] });
            $('select#strategy').change(); 
        });
    </script>
}