ul.commalist
{
    display: inline;
    list-style: none;
}

ul.commalist li
{
    display: inline;
}

ul.commalist li:after
{
    content: ", ";
}

ul.commalist li:last-child:after
{
    content: "";
}

ul.stats 
{
    padding-left: 0;
}

ul.stats > li
{
    list-style: none;    
}

ul.stats ul.commalist 
{
    padding-left: 0;
}
ul.inline li
{
    display: inline;
}

.charactersheet .panel-table
{
    padding: 0;
}

.charactersheet .panel
{
    border-radius: 0;
    margin-bottom: 0; 
}

.charactersheet .panel-heading
{ 
    padding: 5px 15px;
    border-radius: 0;
}

.charactersheet .panel-body
{
    padding: 5px 15px;
}