/* RGB */
ul.commalist {
  display: inline;
  list-style: none;
}
ul.commalist li {
  display: inline;
}
ul.commalist li:after {
  content: ", ";
}
ul.commalist li:last-child:after {
  content: "";
}
ul.stats {
  padding-left: 0;
}
ul.stats > li {
  list-style: none;
}
ul.stats ul.commalist {
  padding-left: 0;
}
ul.inline li {
  display: inline;
}
.charactersheet .panel-table {
  padding: 0;
}
.charactersheet .panel {
  border-radius: 0;
  margin-bottom: 0;
}
.charactersheet .panel-heading {
  padding: 5px 15px;
  border-radius: 0;
}
.charactersheet .panel-body {
  padding: 5px 15px;
}
.statistic {
  display: inline-block;
  margin: 4px 8px;
}
.statistic-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #230007;
  padding: 2px 6px;
}
.statistic-horizontal-title {
  display: inline !important;
}
.statistic-box {
  text-align: center;
  padding: 4px 6px;
  border: 1px dotted #4d4d4d;
}
.statistic-score {
  font-size: 14px;
}
.statistic-modifier {
  padding: 4px;
  color: #f0f0f0;
  border-radius: 2px;
}
.statistic-positive {
  background-color: #4daa57;
}
.statistic-negative {
  background-color: #f9564f;
}
