/* RGB */
ul.commalist {
  display: inline;
  list-style: none;
}
ul.commalist li {
  display: inline;
}
ul.commalist li:after {
  content: ", ";
}
ul.commalist li:last-child:after {
  content: "";
}
ul.stats {
  padding-left: 0;
}
ul.stats > li {
  list-style: none;
}
ul.stats ul.commalist {
  padding-left: 0;
}
ul.inline li {
  display: inline;
}
.charactersheet .panel-table {
  padding: 0;
}
.charactersheet .panel {
  border-radius: 0;
  margin-bottom: 0;
  page-break-inside: avoid;
}
.charactersheet .panel-heading {
  padding: 5px 15px;
  border-radius: 0;
  background-color: #a6d9f7;
  color: #312f2f;
}
.charactersheet .panel-body {
  padding: 5px 15px;
}
.statistics {
  text-align: center;
}
.statistic-row-name {
  background-color: #93a3bc;
  color: #4a5759;
  font-weight: bold;
  text-align: right;
}
.statistic-modifier {
  padding: 4px;
  color: #f0f0f0;
  border-radius: 2px;
}
.statistic-positive {
  background-color: #4daa57;
}
.statistic-negative {
  background-color: #f9564f;
}
