@using SilverNeedle.Characters;
@{
    var character = (CharacterSheetTextView)ViewData["Character"];
    var charFull = (CharacterSheet)ViewData["characterFull"];
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Offense</h3>
    </div>
    <table class="table table-striped table-bordered statistics">
        <tbody>
        
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Base Attack" },
                { "statistic-score", @charFull.Offense.BaseAttackBonus.ToString() } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "CMB" },
                { "statistic-score", @character.CombatManeuverBonus } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "CMD" },
                { "statistic-score", @character.CombatManeuverDefense } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Attacks of Opportunity" },
                { "statistic-score", @charFull.Offense.AttacksOfOpportunity.TotalValue } }); }
            @for(int i = 0; i < character.AttackTypes.Length; i++)
            {
                Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                    { "statistic-title", character.AttackTypes[i] },
                    { "statistic-score", character.Attacks[i] } }); 
            }
        </tbody>
    </table>
</div>