@{
    ViewData["Title"] = "Settlement Generator";
    var strategies = (string[])ViewData["Strategies"];
}
<h1>Generate NPC's for a Settlement</h1>
This will generate a village, inn, or other group of NPC's.
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Settlement" asp-action="Settlement" method="POST">
            <div class="alert alert-danger">Under Construction</div>
            <fieldset class="form-group">
                <legend>Settlement Options</legend>
                <div class="form-group">
                    <label for="strategy">Type</label>
                    <select name="strategy" id="strategy" class="form-control">
                        @foreach(var s in strategies)
                        {
                            <option>@s</option>
                        }
                    </select>
                </div>
            </fieldset>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>
