@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a for fun application that allows the 
    creation of RPG content quickly. The goal is to provide 
    tools generating all the details so that GM's can focus 
    on the most important elements of an RPG. The story!
</p>
<p>
    The content generated makes no claims to be compatible with any
    specific game system out there. It should be general enough
    to be adapted to the needs of any preferred RPG system you are using.
</p>
<p>
    The source code and all data for this generator can be located
    at <a href="https://github.com/shortlegstudio/silverneedle-web">Github</a>.
</p>


