@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Silver Needle</h1>
    <h4>NPC Generator</h4>
    <p>Generates NPC for role playing games with diverse statistics, descriptions,
        motivations and storylines.</p>
    <p><a asp-area="" asp-controller="Character" asp-action="Index" class="btn btn-lg btn-primary" role="button">Generate Character</a></p>
</div>