//@darkTextColor: hsla(348%, 100%, 7%, 1);
//@headingsColor: hsla(311%, 64%, 27%, 1);
//@positiveColor: hsla(126%, 38%, 48%, 1);
//@warningColor: hsla(58%, 94%, 44%, 1);
//@negativeColor: hsla(2%, 93%, 64%, 1);

/* RGB */
@darkTextColor: rgba(49, 47, 47, 1);
@headingsColor:rgba(166, 217, 247, 1);
@headingTextColor: @darkTextColor;
@labelBackColor: rgba(147, 163, 188, 1);
@labelTextColor:  rgba(74, 87, 89, 1);
@positiveColor: rgba(77, 170, 87, 1);
@warningColor: rgba(215, 207, 7, 1);
@negativeColor: rgba(249, 86, 79, 1);
@inverseTextColor: rgba(240, 240, 240, 1);
@borderColor: rgba(77, 77, 77, 1);
@neutralColor: @darkTextColor;

ul.commalist
{
    display: inline;
    list-style: none;
}

ul.commalist li
{
    display: inline;
}

ul.commalist li:after
{
    content: ", ";
}

ul.commalist li:last-child:after
{
    content: "";
}

ul.stats 
{
    padding-left: 0;
}

ul.stats > li
{
    list-style: none;    
}

ul.stats ul.commalist 
{
    padding-left: 0;
}
ul.inline li
{
    display: inline;
}

.charactersheet .panel-table
{
    padding: 0;
}

.charactersheet .panel
{
    border-radius: 0;
    margin-bottom: 0; 
    page-break-inside: avoid;
}

.charactersheet .panel-heading
{ 
    padding: 5px 15px;
    border-radius: 0;
    background-color: @headingsColor;
    color: @headingTextColor;
}

.charactersheet .panel-body
{
    padding: 5px 15px;
}

.statistics 
{
    text-align: center;
}

.statistic-row-name
{
    background-color: @labelBackColor;
    color: @labelTextColor;
    font-weight: bold;
    text-align: right;
}

.statistic-score
{
}

.statistic-modifier
{
    padding: 4px;
    color: @inverseTextColor;
    border-radius: 2px;
}

.statistic-positive
{
    background-color: @positiveColor;
}

.statistic-negative
{
    background-color: @negativeColor;
}