.charactersheet h5 {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    background-color: lightgray;
    text-transform: uppercase;
}

ul.commalist
{
    display: inline;
    list-style: none;
}

ul.commalist li
{
    display: inline;
}

ul.commalist li:after
{
    content: ", ";
}

ul.commalist li:last-child:after
{
    content: "";
}

ul.stats 
{
    padding-left: 0;
}

ul.stats > li
{
    list-style: none;    
}

ul.stats ul.commalist 
{
    padding-left: 0;
}